<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Item Page</title>
    <link rel="stylesheet" th:href="@{/styles/all-item.css}"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
</head>
<body>
<h1 th:text="${titlePage}"/>
<hr class="header-ruling">
<table class="content-table">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <th:block th:each="item: ${itemData}">
        <tbody>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.category}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.stock}"></td>
        <td><a class="btn btn-outline-danger btn-sm" th:href="@{/item/delete-item/{id}(id=${item.id})}"
               type="button">Delete</a></td>
        <td>
            <button class="btn btn-outline-warning btn-sm" data-toggle="modal"
                    th:attr="data-target='#exampleModalCenter' + *{item.id}"
                    type="button">
                Update
            </button>

            <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade"
                 role="dialog"
                 tabindex="-1" th:id="*{'exampleModalCenter' + item.id}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"
                                th:text="Update + ${' ' +item.name}"></h5>
                        </div>
                        <div class="modal-body">
                            <form method="POST" th:action="@{/item/update-item}">
                                <div class="form-group">
                                    <label for="id">Item ID</label>
                                    <input class="form-control" id="id" name="id"
                                           readonly th:placeholder="${item.id}"
                                           th:value="${item.id}" type="text">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="name">Product Name</label>
                                    <input class="form-control" id="name" name="name"
                                           required
                                           th:placeholder="${item.name}" type="text">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="desc">Description</label>
                                    <input class="form-control" id="desc" name="desc"
                                           required
                                           th:placeholder="${item.description}" type="text">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <input class="form-control" id="category" name="category"
                                           required
                                           th:placeholder="${item.category}" type="text">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input class="form-control" id="price" name="price"
                                           required
                                           th:placeholder="${item.price}" type="number">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="stock">Stock Level</label>
                                    <input class="form-control" id="stock" name="stock"
                                           required
                                           th:placeholder="${item.stock}" type="text">
                                </div>
                                <br>
                                <button class="btn btn-success" type="submit">Save changes</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        </tbody>
    </th:block>
</table>
</body>
</html>